.product-detail {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;;
}

.product__image {
    max-width: 80%;
}

.product-info {
    padding: 0;
}

.product__title {
    padding: 0;
    margin: 3px 0px;
}

.product__description {
    margin: 0;
    margin-bottom: 20px;
    color: var(--dark-grey);
}

.product__price {
    display: block;
    font-size: 2rem;
    margin-bottom: 20px;
}

.product__button-cart {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: var(--light-blue);
    color: var(--white);
}

.product-detail__title {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.product-detail-list__item {
    font-size: 1.4rem;
}

/* Media Queries */

@media screen and (min-width: 480px) {
    .product-detail {
        width: 70%;
        grid-template-columns: 50% 50%;
    }
}