<header class="header">
    <nav class="nav">
        <ul class="main-nav">
            <li class="main-nav__item" routerLinkActive="active">
                <a class="main-nav__link" routerLink="/admin/create">Crear producto</a>
            </li>
            <li class="main-nav__item" routerLinkActive="active">
                <a class="main-nav__link" routerLink="/admin/product-list">Ver productos</a>
            </li>
        </ul>
    </nav>
    <div class="logout">
        <button class="logout__buttom">
            <i class="fa fa-sign-out"></i> Salir
        </button>
    </div>
</header>

