.header {
    min-width: 320px;
    padding: 10px 20px;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-menu,
.admin-submenu {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.admin-menu__item {
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.admin-menu__link {
    color: var(--white);
    text-decoration: none;
}

.admin-menu__link:hover {
    text-shadow: 2px 2px 2px var(--black);
}

.admin-submenu {
    width: 180%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.admin-submenu__link {
    display: block;
    font-size: 1.2rem;
    padding: 8px 15px;
    text-decoration: none;
    background-color: var(--white);
    color: var(--light-blue);    
}

.admin-submenu__link:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.admin-menu__item:hover .admin-submenu {
    visibility: visible;
    opacity: 1;
}

.active {
    text-shadow: 1px 1px 1px var(--black),
                 2px 2px 1px var(--black),
                 2px 3px 1px var(--dark-blue),
                 2px 4px 1px var(--dark-blue);
}

.logout__buttom {
    padding: 10px 20px;
    color: var(--dark-blue);
    background-color: var(--white);
    border: none;
    border-radius: 10px;
}

.logout__buttom i {
    margin-right: 5px;
}
