<header class="header">
    <nav class="nav">
        <ul class="admin-menu">
            <li class="admin-menu__item">
                <a class="admin-menu__link">Ver</a>
                <ul class="admin-submenu">
                    <li class="admin-submenu__item">
                        <a class="admin-submenu__link" routerLink="/admin/list/products">Productos</a>
                    </li>
                    <li class="admin-submenu__item">
                        <a class="admin-submenu__link" routerLink="/admin/list/categories">Categorías</a>
                    </li>
                    <li class="admin-submenu__item">
                        <a class="admin-submenu__link" routerLink="/admin/list/subcategories">Subcategorías</a>
                    </li>
                    <li class="admin-submenu__item">
                        <a class="admin-submenu__link" routerLink="/admin/list/genders">Géneros</a>
                    </li>
                    <li class="admin-submenu__item">
                        <a class="admin-submenu__link" routerLink="/admin/list/brands">Marcas</a>
                    </li>
                    <li class="admin-submenu__item">
                        <a class="admin-submenu__link" routerLink="/admin/list/colors">Colores</a>
                    </li>
                </ul>
            </li>
            <li class="admin-menu__item">
                <a class="admin-menu__link" routerLink="/admin/profile">Mi perfil</a>
            </li>
        </ul>
    </nav>
    <div class="logout">
        <button (click)="logOut()" class="logout__buttom">
            <i class="fa fa-sign-out"></i> Salir
        </button>
    </div>
</header>

