.product {
    height: 420px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    position: relative;
}

.product-header {
    height: 300px;
    text-align: center;
}

.product-image {
    height: 100%;
}

.product-body {
    height: 120px;
}

.product__info {
    height: 80px;
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1px solid var(--light-grey);
}

.product__name {
    font-size: 1.4rem;
    color: var(--light-black);
}

.product__description {
    font-size: 1.2rem;
    color: var(--grey);
}

.product-buttons {
    height: 40px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__button {
    padding: 5px;
    border: none;
    color: var(--dark-blue);
    background-color: inherit;
    transition: all 200ms;
}

.product__button:first-child:hover {
    text-decoration: underline;
    color: var(--light-black);
    cursor: pointer;
}

.product__button:nth-child(2):hover {
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: 50%;
}

.product__price {
    position: absolute;
    font-size: 1.4rem;
    text-shadow: 1px 1px 2px var(--light-blue);
    top: 20px;
    right: 20px;
}