<div class="product-form-container">
    <div class="product-form-content">
        <form class="product-form">
            <span class="product-form-icon">
                <img src="assets/images/plus.png" alt="">
            </span>
            <h1 class="product-form-title">Agregar producto</h1>
            <div class="product-form__field">
                <input type="text" class="product-form__input" placeholder="Nombre del producto">
            </div>
            <div class="product-form__field">
                <textarea cols="30" rows="10" class="product-form__textarea" placeholder="Descripción del producto"></textarea>
            </div>
            <div class="product-form__field">
                <input type="number" class="product-form__input" placeholder="Precio del producto">
            </div>
            <input type="submit" class="product-form__submit" value=" Crear producto">
        </form>
    </div>
</div>