.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-blue);
}

.main-menu {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.main-menu__item {
    display: inline-block;
    padding: 15px 20px;
    color: var(--white);
}

.main-menu__link {
    text-decoration: none;
    color: inherit;
}

.main-menu-buttons {
    display: flex;
    padding: 0px 15px;
}

.cart {
    position: relative;
}

.cart__counter {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    background-color: red;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}

.cart__button,
.login__button {
    margin: 0px 2px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.cart__button:hover,
.login__button:hover {
    box-shadow: 2px 2px 5px var(--black);
}

.active {
    text-shadow: 1px 1px 1px var(--black),
                 2px 2px 1px var(--black),
                 2px 3px 1px var(--dark-blue);
}

