<header class="header">
    <nav class="nav">
        <ul class="main-nav">
            <li class="main-nav__item" routerLinkActive="active">
                <a class="main-nav__link" routerLink="/home">Inicio</a>
            </li>
            <li class="main-nav__item" routerLinkActive="active">
                <a class="main-nav__link" routerLink="/products">Productos</a>
            </li>
            <li class="main-nav__item" routerLinkActive="active">
                <a class="main-nav__link" routerLink="/about">Sobre nosotros</a>
            </li>
            <li class="main-nav__item" routerLinkActive="active">
                <a class="main-nav__link" routerLink="/contact">Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="cart">
        <span class="cart__counter">1</span>
        <button class="cart__button" routerLink="/cart">
            <i class="fa fa-shopping-cart"></i> Carrito
        </button>
    </div>
</header>
